<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <h2 class="card-title text-center text-white py-4">{{ title }}</h2>
      </div>
      <h3 class="text-center text-black ">Coordinates list </h3>
      <app-coord-list></app-coord-list>
      <h3 class="text-center text-black ">Add a coordinates </h3>
      <app-coord-form></app-coord-form>
      <h3 class="text-center text-black ">Coordinate comparison </h3>
      <app-coord-comp></app-coord-comp>
    </div>
  </div>
</div>
