<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col"> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let coord of coords">
        <td>{{ coord.id }}</td>
        <td>{{ coord.latitude }}</td>
        <td>{{ coord.longitude }}</td>
        <td><button type="button" class="btn btn-danger" (click)="onDel(coord)">Del</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
